<form [formGroup]="enderecoForm" (ngSubmit)="save()">
  <label>Rua</label>
  <input type="text"  formControlName="rua">
  <label>Número</label>
  <input type="number" formControlName="numero">
  <label>Bairro</label>
  <input type="text" formControlName="bairro">
  <label>Cidade</label>
  <input type="text" formControlName="cidade">
  <label>Estado</label>
  <input type="text" formControlName="estado">
  <label>País</label>
  <input type="text" formControlName="pais">
  <label>CEP</label>
  <input type="text" formControlName="cep">

  <button type="submit">Salvar</button>
</form>
